<project name="FaultTracer-specific">
	<property name="subject" value="commons-lang3"/>
	<property name="prefix" value="org.apache.commons.lang3"/>
	<property name="testsuite" value="org.apache.commons.lang3.EnumUtilsTest"/>
	<property name="junit4" value="true"/>
	<property name="faulttracer" value="/Users/stephaniegalbo/faulttracer"/>
	<property name="cp" value="./bin:./lib/*"/>
	<property name="faulttracer.maxmemory" value="1048m"/>
  <import file="${faulttracer}\resources\faulttracer.xml"/>
</project>